[submodule "HISSTools_Impulse_Response_Toolbox"]
	path = HISSTools_Impulse_Response_Toolbox
	url = https://github.com/HISSTools/HISSTools_Impulse_Response_Toolbox.git
[submodule "src/HISSTools_Impulse_Response_Toolbox"]
	path = src/HISSTools_Impulse_Response_Toolbox
	url = https://github.com/HISSTools/HISSTools_Impulse_Response_Toolbox.git
